[submodule "difftest"]
	path = difftest
	url = git@github.com:arch-simulator-sig/difftest.git
[submodule "DRAMsim3"]
	path = DRAMsim3
	url = git@github.com:arch-simulator-sig/DRAMsim3.git
[submodule "NEMU"]
	path = NEMU
	url = git@github.com:arch-simulator-sig/NEMU.git
[submodule "bin-to-run"]
	path = bin-to-run
	url = git@github.com:arch-simulator-sig/A53-bin-to-run
