[submodule "difftest"]
	path = difftest
	url = git@github.com:arch-simulator-sig/difftest.git
[submodule "DRAMsim3"]
	path = DRAMsim3
	url = https://gitee.com/dzw1208/DRAMsim3.git
[submodule "NEMU"]
	path = NEMU
	url = https://gitee.com/dzw1208/NEMU.git
